<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h3>Python page</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos provident sint illo, 
                deserunt hic perferendis voluptatem! Quas soluta sapiente quae deleniti repudiandae 
                laboriosam temporibus aliquid, minima in possimus. Unde obcaecati laudantium quam ducimus, 
                voluptate quas autem recusandae dolore pariatur nesciunt. Consequatur, 
                cum dolorem? Iusto nulla magni deleniti in pariatur aliquid accusantium
                expedita voluptas facere quidem tempore atque, omnis ad praesentium sit?
                Aspernatur facilis ipsam quo accusamus officia quam error eum alias 
                voluptas, est optio aliquam laborum, veritatis nulla rem magnam,
                quibusdam consequuntur magni. Voluptate, iusto! A necessitatibus 
                eius molestias sequi, non, minima assumenda provident totam minus 
                ad corrupti officiis aperiam.</p>
            </div>
            <div class="col-md-6">
                <img src='../../assets/images/3.jpg' alt="">
            </div>
        </div>
    </div>