<section class="home">
    <img src="../../assets/images/7.jpg">
    <div class="homecontent">
        <h1>Village People</h1>
        <a href="#" class="btn btn-lg btn-light">Discover Courses</a> &nbsp;
    <a routerLink="joinnow" class="btn btn-lg btn-primary">Join Now</a>
    </div>
    </section>
    
    
    <section class="peopleinfo">
        <h2 class="peopleHead mt-3 text-center">This is Village People Information</h2>
    <div class="container">
        <div class="info mt-4">
            <table class="table table-bordered text-center" >
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">E-mail</th>
                  </tr>
                </thead>
                <tbody *ngFor="let inform of peopleInfo">
                  <tr>
                    <td>{{inform.id}}</td>
                    <td>{{inform.name}}</td>
                    <td>{{inform.address}}</td>
                    <td>{{inform.email}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    </section>